body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  color: #111;
}

.container {
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 28px;
}

.subtitle {
  color: #555;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.card {
  background: #fff;
  padding: 14px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
  font-weight: bold;
}

.btn {
  width: 100%;
  padding: 16px;
  margin-top: 15px;
  border-radius: 16px;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.primary {
  background: #ffd400;
}

.secondary {
  background: #111;
  color: #fff;
}
